html {
  font-size: 62.5%;
}

body{
  background-color: var(--light-grayish-blue);
  font-size: 1.3rem;

}

.preview-component {
  max-width: 60rem;
  border: 1px solid red;

  display: flex;
}

.preview-image {
  width: 20em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}