:root {
  /** Cores */
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
  --light: hsla(210, 12%, 97%, 0.897);

  /** Fonte */
  --fs-13: 13px;
}